.title-fieldset {
  font-size: 1.4em;
  color: #000;
  font-weight: 700;
  margin-top: 40px;
}

.bootstrap-fieldset {
  margin: 20px 0;
  padding: 20px;
  border: 0.2rem solid #ececec;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 5px;
}

.bootstrap-fieldset label.form-label {
  padding-top: 15px !important;
  display: block;
}

.bootstrap-fieldset input[type=checkbox] {
  opacity: 1;
  width: auto;
  height: auto;
  position: relative;
  margin-right: 10px;
  top: 3px;
}