body {
    font-size:11px;
}
.bg-color-1 {
    background-color: #1d1d1b;
}
.bg-color-2 {
    background-color: #305494;
}
.bg-color-3 {
    background-color: #efefe9;
}

.title-1 {
    background-color: #1d1d1b;
    color:#fff;
    padding:2px;
}
.title-2 {
    color:#fff;
    background-color: #e3a14e;
    font-size:14px !important;
    padding:3px 0;
    font-weight: bold;
}
.title-3 {
    background-color: #1d1d1b;
    color:#fff;
    padding:2px;
    font-weight: bold;
}

.mt10 {
    margin-top:10px;
}
.mt20 {
    margin-top:20px;
}
.mt30 {
    margin-top:30px;
}
.mt60 {
    margin-top:60px;
}
.mt90 {
    margin-top:90px;
}

.line-height-16,
.line-height-16 p {
    line-height: 16px;
}

table.offer {
    width: 100%;
    font-size:12px;
}

table.offer td,
table.offer th {
    padding: 6px 5px;
    border-bottom: 1px solid #bbb;
    color: #555;
}

table.offer tr:nth-child(even) td{
    background-color: #efefe9;
}
table.offer th:first-child,
table.offer td:first-child{
    background:none !important;
    border:none;
}

table.offer  tr:last-child {
    background: none;
}
table.offer  tr:last-child td {
    border:none;
    background-color: #d9d9d9;
}
table.offer  tr:last-child td:first-child {
    background: none;
}

table.offer th.width-1 {
    width:8%;
}
table.offer th.width-2 {
    width:35%;
}
table.offer th.width-3 {
    width:14%;
}
table.offer th.width-4 {
    width:16%;
}
table.offer th.width-5 {
    width:8%;
}
table.offer th.width-6 {
    width:19%;
}

table.product-params {
    width: 100%;
    font-size:11px;
}

table.product-params td,
table.product-params th {
    padding: 5px 5px;
    border-bottom: 1px solid #bbb;
    color: #555;
}

table.product-params th {
    background-color: #1d1d1b;
    color:#fff;
}

table.offer th.background-none,
table.offer td.background-none {
    background: none !important;
}
table.offer th.border-none,
table.offer td.border-none {
    border: none !important;
}

table.product-params2 td,
table.product-params2 th {
    padding: 7px;
}

ul.list-none {
    list-style: none;
}
.img-4years {
    margin-top:140px;
    margin-left:-80px;
}
.img-icon {
    width:100px;
    padding:5px;
}

